html{
    box-sizing: border-box;
  }
  
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
}

.topmenu{
    height: auto;
    width: 100%;
}

.header{
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(113, 114, 117, 0.7),rgba(59, 65, 90, 0.7)), url(images/plitonheader.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* for top navigation link */
nav{
    display: flex ;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: left;
}
nav img{
    width: 150px;
    height: auto;
}
.nav-links{
    flex: 1;
    text-align: center ;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #2b7a78;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* dropdown and style for the user icon button */
.user-dd {
    display: inline;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.userdropdown{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 13px;
    float: right;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.user-dd{
    position: relative;
    display: inline-block;
}

.user-dropdown-con{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(50, 80, 65, 0.568);
    padding: 12px 16px;
    z-index: 1;
}

.user-dropdown-con a{
    color: black;
    font-size: 14px;
    padding: 13px 20px;
    text-decoration: none;
    display: block;
}

.user-dropdown-con a:hover{
    background-color: #095a5644;
    border-radius: 15px;
}

.user-dropdown-con button{
    background-color: white;
    border: 1px white;
    border-radius: 10px;
    font-size: 14px;
    padding: 13px 20px;
    min-width: 200px;
    text-decoration: none;
    text-align: left;
    display: block;
    cursor: pointer;
}

.user-dropdown-con button:hover{
    background-color: #095a5644;
    border-radius: 15px;
}

.user-dd:hover .user-dropdown-con{
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin-top: 50px;
    right: 0;
}

.user-dd:hover .userdropdown{
    background-color: #3aafa9;
    transition: 0.5s;
}

.user-dd p{
    font-size: 13px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: 2px underline;
    background-color: #095a5644;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* style for cart icon button */
.cart{
    display: block;
    margin: auto;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

/* style for textbox */
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 40px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
}

/* sellerloginform */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 11px 20px;
    text-align: center;
    background-color: rgba(236, 89, 89, 0.972);
    border-radius: 20px;
    font-size: 13px;
  }

.cancelbtn:hover{
    background-color: firebrick;
    transition: 0.5s;
    cursor: pointer;
}
  
#loginbtn{
    width: auto;
    padding: 13px 20px;
    margin: auto;
    text-align: center;
    background-color: #3aafa9;
    border-radius: 20px;
    font-size: 13px;
}

#loginbtn:hover{
    background-color: #2b7a78;
    transition: 0.5s;
    cursor: pointer;
}

.sl-container {
    padding: 20px 50px;
    border-radius: 10px;
  }
  
span.psw{
    list-style: none;
    display: inline-block;
    padding: 15px 12px;
    position: relative;
}
span.psw a{
    color:black;
    text-decoration: none;
    font-size: 13px;
}

.modal h3 {
    text-align: center;
}

.modal label b{
    text-align: center;
    position: center;
    font-size: 20px;
}

.checkb{
    font-size: 15px;
}
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 80%;
    justify-content: center;  
    align-items: center;
  }
  
/* The Close Button (x) */
.close {
    padding-left: 90%; 
    top: 0;
    color: rgba(236, 89, 89, 0.972);
    font-size: 35px;
    font-weight: bold;
  }
  
.close:hover,.close:focus {
    color: firebrick;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: right;
    }
    .cancelbtn {
       width: 100%;
    }
  }
