/*White #e0fff4
Pine Green #3a7a87

periwrinkle #d5d1e6
*/

/* global styles*/
html{
  box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}
  
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}  

li{
    display: inline-block
}

body{
  color: #14282c;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
}
/* 
header img{
  width: 100%;
  top: 0;
}

.for-background{
  width: 100%;
  background-image: url("images\background1.jpg");
  background-position: center;
  background-size: cover;
} */


/* main{ */
  /* width: 1000px; */
  /* margin-top: -8px; Add a top margin to avoid content overlay 
}

footer{
  text-align: center;
  font-size: 100px;
}

.just-header{
  margin-left: 260px;
}

/* --------------------------------------------------------------------------------------Navbar container */
/* .navbar ~ div{  
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position 
    top: 0; /* Position the navbar at the top of the page 
    width: 100%; /* Full width 
    background-color: #e0fff4;
    font-family: Arial;
}

/* Links inside the navbar 
.navbar a{
    float: left;
    font-size: 20px;
    font-weight: 400px;
    color: #3a7a87;
    background-color: #e0fff4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-right{
  margin-left: auto;
} */

/*------------------------------------------------------------------------- rooms.php*/
.row {
  display: flex;
  

}

.column-right {
  flex: 60%;
  justify-content: left;
  padding-right: 50px;
}
.column-left{
  flex: 40%;
  justify-content: right;
  padding-left: 50px ;
}



/*--------------------------------------------------------------booking form/ rooms.php*/

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=date], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #d5d1e6;
}

input[type=date]:focus, input[type=number]:focus {
  background-color: #a8a6b1;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #d5d1e6;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #a8a6b1;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* ----------------------------------------------------------------------------------------------display rooms cards */
.card-flex-container{
  /* display: inline-block; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  gap: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 539;
  margin: 15px;
  text-align: center;
  font-family: arial;
}

.card-img{
  max-width: 300px;
  margin: none;
}

.card p:last-of-type{ /*------------just added----------------*/
  padding: 0 5% 10px;
}

.card-info > h1{
  margin: 0;
}

.price {
  color: grey;
  font-size: 22px;
  margin: 0;
  padding-top: 0%;
  padding-bottom: 0%;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* <<<<<<< HEAD */

/*--------------------------------------------------------------rooms detail*/
/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 539;
  margin: 15px;
  text-align: center;
  font-family: arial;
} */



/*----------------------------------------------------------------------------------------Checkout form*/
.row-checkout {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 auto ;
  width: 600px;
  height: 706px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;

}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 700px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.row ~ label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

